
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" [disabled]="!isallowNewServer()" (click)="onCreateServer()">Add server</button>
<p *ngIf="serverCreated">{{serverCreationStaus}}</p>
<!-- <p *ngIf="serverCreated;else noserver">{{serverCreationStaus}}</p> -->
<!-- <ng-template #noserver>
  <p>No server was Created</p>
</ng-template> -->
<app-server *ngFor="let s of serversArr"></app-server>

<!-- <h3 *ngFor="let s of serversArr">{{s}}</h3> -->
