<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>I m in the App component</h1>
            <hr>
            <app-servers></app-servers>

        </div>
    </div>
</div>